* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 14px;
}
@media (min-width: 1600px) {
  html,
  body {
    font-size: 18px;
  }
}
@media (min-width: 2200px) {
  html,
  body {
    font-size: 34px;
  }
}
a:link {
  color: #0000ee;
}
a:visited {
  color: #551a8b;
}
h1 {
  font-size: 36px;
  font-weight: 300;
}
h2 {
  font-weight: 300;
}
h3 {
  font-weight: 300;
}
code {
  white-space: normal;
}
.row.row-0 {
  margin-left: 0;
  margin-right: 0;
}
input[type='button'],
button {
  padding: 5px 10px;
}
input[type='button'][disabled='disabled'],
button[disabled='disabled'] {
  opacity: 0.5;
}
input[type='checkbox'].check {
  position: relative;
  margin: auto;
  z-index: 1;
}
input[type='checkbox'].check + label {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 0;
  -webkit-transition: All 0.2s ease;
  -moz-transition: All 0.2s ease;
  -o-transition: All 0.2s ease;
  -ms-transition: All 0.2s ease;
  transition: All 0.2s ease;
}
input[type='checkbox'].check:checked + label {
  background-color: #168d2b;
}
#background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}
#background video {
  position: fixed;
  top: 0;
  left: 50%;
  width: auto;
  min-width: 100vw;
  min-height: 100vh;
  transform: translateX(-50%) translateY(0%);
}
@media (max-width: 600px) {
  #background video {
    transform: translateX(-35%) translateY(0%);
  }
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-bold {
  font-weight: 700;
}
.text-red {
  color: #ef4030;
}
.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}
.overflow-ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.alextwist-heading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: fit-content;
  color: white;
  text-align: center;
}
.alextwist-list {
  list-style: none;
  font-size: 1em;
  color: #ffffff;
  padding-left: 0;
}
.alextwist-list li {
  line-height: 1.5em;
}
.alextwist-list a {
  text-decoration: none;
  color: #d0c7c7;
  margin-left: 0.25em;
}
